{% load wagtailcore_tags menu_tags %}
{% get_menu as menu %}
<footer>
    <hr>
    <p>[footer:]</p>
    <ul>
    {% for section in menu %}
      {% for menu_item in section.menu %}
        {% with menu_item=menu_item.value %}
          <li>
            <a href="{% pageurl menu_item.page %}">{{menu_item.name}}</a>
          </li>
        {% endwith %}
      {% endfor %}
    {% endfor %}
    </ul>
      <div>Social media:</div>
      {% include 'includes/social-media-links/social-media-links.html' with socialmedia=settings.home.SocialMediaSettings %}
</footer>
