<div>
  <ul style="text-align:center;"">
    <li style="display: inline;"><a href="{{ settings.site_settings.SocialMediaSettings.twitter }}">Twitter</a></li>
    <li style="display: inline;"><a href="{{ settings.site_settings.SocialMediaSettings.instagram }}">Instagram</a></li>
    <li style="display: inline;"><a href="{{ settings.site_settings.SocialMediaSettings.facebook }}">Facebook</a></li>
    <li style="display: inline;"><a href="{{ settings.site_settings.SocialMediaSettings.youtube }}">YouTube</a></li>
    <li style="display: inline;"><a href="{{ settings.site_settings.SocialMediaSettings.linkedin }}">LinkedIn</a></li>
    <li style="display: inline;"><a href="{{ settings.site_settings.SocialMediaSettings.tiktok }}">Tik Tok</a></li>
  </ul>
</div>
